body{
    font-family: 'Arial', sans-serif;
    background: #f3f3f3;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 32px;
}

header{
    height: 100px;
    padding: 5px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}

h2{
    text-align: center;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.producto{
  padding: 2rem;
}

.prod{
    width: 350px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: auto;
}

figcaption{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.caracteristicas{
    padding: 3rem;
}

.caracteristicas figure img{
    width: 350px;
    height: 400px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.caracteristicas img{
    width: 325px;
    height: 300px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.caracteristicas h3{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    background: #d8deff;
    padding: 23px;
}

.caracteristicas p{
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 5px;
}

ul{
  padding: 6px;
  list-style: none;
  margin: 0;
  padding: 0;

}

li{
  display: inline-block;
  margin: auto;
}

ul li img{
  padding: auto;
  display:block;
  margin: auto;;
}

.control{
    padding: 2rem;
}

 .control img{
   object-fit: cover;
   display: block;
   margin: auto;
 }

 .control .grid-2{
   padding: 1.5rem;
   background: #d8deff;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 5px;
 }

 dt{
   padding: 1px;
   background: #414141;
   color: #ffffff;
   width: 150px;
 }

 dd{
   padding: 1px;
   width: 315px;

 }

 .ingredientes{
   padding: 3rem;
 }

 .grid-2 {
   padding: auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 5px;
 }

.title{
  font-size: 20px;
}

 .recomendado{
   padding: 3rem;
 }

 .grid-4{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 20px;
 }

 .grid-4 p{
   font-size: 25px;
   color: #d8deff;
 }

 .grid-4 h3{
   font-size: 18px;
 }

 

